{{>header}}

 <div class="container text-center">
    <h3>Welcome To Result Management System</h3>
   </div>
<div class="main">
  
       <div class="row1">
         <button type="button" class="btn btn-primary bt"><a href="/teacher/login" style="text-decoration: none;" class="text-white">Teacher</a></button>
        </div>
        <div class="row2">
           <button type="button" class="btn btn-primary bt" style="margin-left:18px"><a href="/student/login" style="text-decoration: none;" class="text-white">Student</a></button>
         </div>
         <div class="row3">
           <button type="button" class="btn btn-primary bt" style="margin-left:18px"><a href="/admin/login" style="text-decoration: none;" class="text-white">Admin</a></button>
         </div>
       </div>
       


{{>footer}}
